<h2>{{title}}</h2>
<!-- <input type="text" [(ngModel)]="someValue" />
<input type="button" value="Click" (click)= "HandleClick()" /><br/><br/>
<b>{{someValue}}</b><br/><br/>
<b>{{ShowInterpolation()}}</b><br/>
{{1+2}}
<table>
  <tr>
    <td>
      someValue
    </td>
  </tr>
  <tr *ngFor="let temp of someValues">
     <td>
       {{temp}}
     </td>
  </tr>
</table> -->

<!-- <h1>Counter Example</h1>
<p>Counter Value:{{count}}</p>
<button (click)="HandleCounter('decrement')">--</button>
<button (click)="HandleCounter('increment')">++</button>
<button (click)="HandleReset()">Reset</button>

<h2 [style.color]="color" (click)="ChangeColor()">Click to change the color - Style Binding</h2>
<button (click)="HandleEvent('Mahesh')">Event to Fire</button><br/><br/>

<b>{{eventsTitle}}</b><br/><br/>
<button (click)="DifferentEvents('click')">Click for Event</button><br/><br/>
<input type="text" #inputIdOne (keyup.enter)="DifferentEvents(inputIdOne.value)" /><br/><br/>
<p>Blur event</p>
<input type="text" #inputIdTwo (blur)="DifferentEvents(inputIdTwo.value)" /><br/><br/>
<p (mouseover)="DifferentEvents('mouseover')" [style.color]="overColor">Mouseover</p>


<p>Capture and show the input field value is: {{inputValue}}</p>
<input type="text" #inputField placeholder="Enter a user name" name="username" />
<button (click)="getInputValue(inputField.value)">get Name</button><br/><br/>

<b>Interpolation & Property Binding </b> <br/><br/>
<input type="text" value={{nameInter}} disabled={{disable}}/><br/><br/>
<input type="text" [value]=nameProp [disabled]=disable/><br/><br/>

<p>{{subTitle}} {{dataValue}}</p><br/><br/>
<input type="text" [(ngModel)]="dataValue" /> -->

<!-- <ul class="list-group">
  <li 
      *ngFor="let post of posts"
      class="list-group-item">
      {{ post.title }}
  </li>
</ul> -->

<app-angular-basics></app-angular-basics>
<app-posts-get-call></app-posts-get-call>
<app-life-cycle></app-life-cycle>

