<div class="row">
    <div class="col-md-8">
        <h3>Posts List</h3>
        <a href="" class="btn btn-primary" [routerLink]="['/posts/add']">Add Post</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Body</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts | async">
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.body}}</td>
                    <td>
                        <a href="" class="btn btn-primary" [routerLink]="['edit', post.id]">Update</a>&nbsp;&nbsp;
                        <button class="btn btn-danger" (click)="onDeletePost(post.id ? post.id : '')">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>